<!doctype html>
<html>
   <head>
      <title>Midas CI</title>
      <link rel="stylesheet" href="/css/bulma.min.css">
      <link rel="stylesheet" href="/css/monokai.css">
      <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">

      <script src="/js/highlight.pack.js"></script>
      <script>
         hljs.initHighlightingOnLoad();
      </script>
      <style>
         pre {
            background-color: white !important;
         }
      </style>
   </head>
   <body>
      {% if self._TemplateReference__context.name == 'index.html' %}
         <section class="hero is-dark">
            <div class="hero-body">
               <div class="container">
                  <h1 class="title">
                     Midas CI
                  </h1>
                  <h2 class="subtitle">
                     Self-hosted task runner
                  </h2>
               </div>
            </div>
         </section>
      {% else %}
         <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
               <a class="navbar-item" href="/">
                  <img src="/img/bot.png">
               </a>
            
               <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
               </a>
            </div>
            
            <div class="navbar-menu">
               <div class="navbar-start">
                  <a class="navbar-item" href="/">
                     Dashboard
                  </a>
            
                  <a class="navbar-item" href="/docs">
                     Documentacion
                  </a>
               </div>
            </div>

            <div class="navbar-end">
               <div class="navbar-item">
                  {# <div class="buttons">
                     <a class="button is-info">
                     <strong>Salir</strong>
                     </a>
                  </div> #}
               </div>
               </div>
            </div>
         </nav>
      {% endif %}

      {% block content %}
         <!-- content -->
      {% endblock %}

   </body>
</html>