{% extends 'base.jinja' %}
{% block content %}
   <section class="section">
      <div class="container">
         <div class="columns">
            <div class="column"></div>
            
            <div class="column is-three-quarters">
               <a class="button is-info" style="float: right" href="/new">
                  <strong>
                        Añadir proyecto
                  </strong>
               </a>
               <br/><br/>

               <div class="card">
                  <div class="card-content">
                     <div class="content">
                        <h3 class="title is-4">
                           <a href="/view/1/">Proyecto "Solfamidas"</a>
                        </h3>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> Commmit: <a href="#">a13grj4dff</a>
                     </div>
                  </div>
               </div>
               <br>   
            </div>

            <div class="column"></div>
         </div>
      </div>
   </section>
{% endblock %}