{% extends 'base.jinja' %}
{% block content %}

   <section class="section">
      <div class="container">
         <div class="columns">
            <div class="column"></div>
            <div class="column is-three-quarters">
               {% if db_insert_success == None %}
               <div class="card">
                  <div class="card-content">
                     <div class="content">
                        <p>
                           Para permitir que Midas CI pueda gestionar las tareas de build, testing e integración de tu código, primero necesitamos algunos datos, como el nombre del
                           proyecto, y la URL del repositorio donde lo estás alojando. Si no tienes ya uno, te recomendamos que utilices un repositorio local Gogs o Gitea, perfectos
                           para servir desde una Raspberry Pi.
                        </p>
                        <br/>
                        <form method="POST" action="/new">
                           <div class="field">
                              <label class="label">Nombre del proyecto</label>
                              <div class="control">
                                 <input class="input" name="project_name" type="text" placeholder="Mi fantástico proyecto" required>
                              </div>
                           </div>
                           <div class="field">
                              <label class="label">URL del repositorio</label>
                              <div class="control">
                                 <input class="input" name="project_repo" type="text" placeholder="https://azeroth.local/juanjo/midas-ci.git" required>
                              </div>
                           </div>
                           <br/><br/>
                           <div class="field is-grouped">
                              <div class="control">
                                 <input type="submit" value="Aceptar" class="button is-link">
                              </div>
                              <div class="control">
                                 <button class="button is-text">Cancelar</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>

               {% elif db_insert_success %}
                  <div class="card">
                     <div class="card-content">
                        <div class="content">
                           <h3 class="title is-4">
                              ¡Proyecto "{{ name }}" añadido correctamente!
                           </h3>
                           <h4 class="is-title is-4">¿Y ahora qué?</h4>
                           <p>
                              Si no lo has hecho ya, añade un fichero <code>tasks.yml</code> a la raíz de tu proyecto. Aquí tienes uno de ejemplo.
                           </p>
                           <pre><code class="yaml">project: Runner
tasks:
  test:  python tests.py
  build: sh build.sh</code></pre>

                           <h4 class="is-title is-4">Configurar los webhooks</h4>
                           <p>
                              El siguiente paso es conectarlo con tu servidor a través de webhooks. Encontrarás más información <a href="#">aquí</a>. Estas son las URLs que necesitarás:
                           </p>
                           <h5 class="is-subtitle is-5">Push</h4>
                           <code>
                              {{ request.url_root }}/webhooks/1/push
                           </code>
                           <br/><br/>
                           <h5 class="is-subtitle is-5">Nueva issue creada</h4>
                           <code>
                              {{ request.url_root }}/webhooks/1/push
                           </code>
                           <br/><br/>
                           <p>
                              Guardalas bien, haz una captura de pantalla, o copialas entre tus notas, las vas a necesitar más adelante.
                           </p>
                           <a class="button is-info" href="/">Volver al inicio</a>
                        </div>
                     </div>
                  </div>
               {% else db_insert_success %}
                  <div class="card">
                     <div class="card-content">
                        <div class="content">
                           <h3 class="title is-4">
                              ¡Ocurrió un error! :(
                           </h3>
                           <p>
                              Comprueba los logs de Midas para ver qué ha podido ir mal. ¿Es accesible la base de datos?
                           </p>
                           <a class="button is-info" href="/">Volver al inicio</a>
                        </div>
                     </div>
                  </div>
               {% endif %}
            </div>
            <div class="column"></div>
         </div>
      </div>
   </section>

{% endblock %}