{% extends 'base.jinja' %}
{% block content %}
   <section class="section">
      <div class="container">
         <div class="columns">
            <div class="column is-one-quarter">
                <nav class="panel">
                    <p class="panel-heading">
                        Mis proyectos
                    </p>
                    <a class="panel-block {{ 'is-active' if project == project }}" href="/view/1/">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        Proyecto "Solfamidas"
                    </a>
                </nav>
            </div>
            <div class="column">
                <h2 class="title">{{ project }}</h2>

                <div class="log">
                    <pre></pre>
                </div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}